<launch>
  
  <!-- Arguments -->
  <arg name="use_gui" default="true" />
  <arg name="rviz" default="false" />
  
  <!-- Load robot description -->
  <param name="robot_description" 
         command="$(find xacro)/xacro $(find spot_micro_pybullet)/urdf/spot_micro_pybullet_gen_ros.urdf" /> 

  <!-- Start PyBullet simulation -->
  <node name="pybullet_sim" pkg="spot_micro_pybullet" type="spot_micro_pybullet_sim.py" output="screen">
    <param name="use_gui" value="$(arg use_gui)" />
    <param name="rate" value="50" />
  </node>

  <!-- Publish robot state to TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Launch RViz for visualization -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" 
        args="-d $(find spot_micro_rviz)/rviz/default.rviz" />

</launch>
